<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body onload='resultOfUrl()'>
        Verify successfully !!
    </body>

<script>

    function resultOfUrl() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const hash = urlParams.get('hash')
        const appName = urlParams.get('appName')
        const customerEmail = urlParams.get('customerEmail')
        console.log(hash)
        console.log(appName)
        console.log(customerEmail)
        if(hash != '' && appName != '' && customerEmail != '') {
            this.sendResultOfValidation(hash, appName, customerEmail)
        }
        
    }

    function sendResultOfValidation(hash, appName, customerEmail){
        axios.post('http://[HOST_IP_ADDRESS_FOR_VERIFY]:5000/api/v1.0/validation/changepassword', {
            hash: hash,
            appName: appName,
            customerEmail: customerEmail
        })
        .then(function (response) {
            console.log(response);
        })
        .catch(function (error) {
            console.log(error);
        })
    }

</script>
</html>